body, p, article {
  font-family: 'Zilla Slab', serif;
  font-size: 15pt;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  font-size: 22pt;
}

h3 {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  font-size: 20pt;
}

article h1, h1.content-title {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  font-size: 36pt;
}

article h2, h2.content-title {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  font-size: 22pt;
}

article h3 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  font-size: 20pt;
}

article.post h1 {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  font-size: 26pt;
}

article.post h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  font-size: 22pt;
}

article.post h3 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  font-size: 20pt;
}

footer {
  margin-top: 30px;
  height: 70px;
  padding: 20px;
  border-top: 1px solid #eee;
  font-size: 1.8rem;
  text-align: center;
}

#all-but-footer {
  min-height: calc(100vh - 100px);
}

.meta {
  margin-left: 4px;
  margin-bottom: 10px;
  color: #999;
}

.meta a {
  color: #999;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.meta a:hover {
  color: #666;
}

.meta .date {
  display: inline;
}

@media screen and (max-width: 800px) {
  .meta .date,
  .meta .tags,
  .meta .comments,
  .meta .edit {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 30px;
  }
}

article.post {
  margin-top: 30px;
  padding: 0 10px 10px 10px;
  border-top: 1px solid rgba(204, 204, 204, 0.3);
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.05), 0 4px 6px 0 rgba(0,0,0,0.08);
  -ms-box-shadow: 0 1px 0 0 rgba(0,0,0,0.05), 0 4px 6px 0 rgba(0,0,0,0.08);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.05), 0 4px 6px 0 rgba(0,0,0,0.08);
}

.panel-footer { background-color: #fff;}
.read-more { padding-bottom: 10px;}

.block {
  margin-top: 30px;
}

.boxed {
  background-color: #fff;
}

.blog-header-image-container {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-pagination {
  margin-top: 10px;
  text-align: center;
}

.blog-search-widget-input-div {
  padding-right: 5px;
}

.blog-header {
  height: 450px;
  background-position: center;
}

.reading-time {
  color: grey;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

em.search-highlight {
  font-style: normal;
  font-weight: bold;
  background-color: yellow;
}

article img {
  width: 100%;
}

article.search-result p {
  display: inline;
}

article.search-result .ellipsis:after {
  margin-left: -0.2rem;
  content: '... ';
}
