<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
  <div class="boxed animated fadeIn animation-delay-5">
    <div id="all-but-footer">
      {{> header}}
      <div class="container">
        {{#if isContentPage}}
        <div class="row">
          <main class="col-md-12">
            {{{body}}}
          </main>
        </div>
        {{else}}
        <div class="row">
          <main class="col-md-8">
            {{{body}}}
          </main>
          <aside class="col-md-4" id="sidebar">
            {{> sidebar}}
          </aside>
        </div>        
        {{/if}}
      </div>
    </div>
    {{> footer}}
  </div>
</body>
</html>
