<main>
  <article class="container post-container">
    <div class="row">
      <div class="col-12">
        <h1 class="content-title">404</h1>
        <h3>Page not found</h3>
        <p>The URL you came to isn't valid.</p>
        <p><a href="{{blogRoutePrefix}}">Visit our blog</a></p>
      </div>
    </div>
  </article>
</main>
