<main>
  <article class="container post-container">
    <div class="row">
      <div class="col-12">
        <h1 style="margin-bottom: 4rem;">Contact form</h1>
        {{> contact-form}}
      </div>
    </div>
  </article>
</main>