<main>
  <article class="container post-container">
    <div class="row">
      <div class="col-12">
    <h1 class="content-title">{{message}}</h1>
    {{# if error}}
      <h2>{{error.status}}</h2>
      <pre>{{error.stack}}</pre>
    {{/if}}
      </div>
    </div>
  </article>
</main>
