<main class="post-page">
  <article class="container post-container">
    <div class="row">
      <div class="col-12">
        <h1 class="post-title">{{page.title}}</h1>
        <div class="post-content">
          {{{page.content}}}
        </div>
      </div>
    </article>
  </div>
</main>