<div class="container">
  <div class="row">
    <main class="col-md-9">
      {{#if tagDescription}}
        <p class="header-text">{{{tagDescription.content}}}</p>
      {{/if}}
      {{#each posts}}
      {{> post this}}
      {{/each}}
    </main>
    <aside class="col-md-3 sidebar">
      {{> sidebar}}
    </aside>
  </div>
</div>