{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "last 2 Firefox versions",
          "last 2 Edge versions",
          "last 2 Opera versions",
          "last 2 Safari versions",
          "last 2 iOS versions"
        ]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel"
  ]
}