/* Loading react-toastify CSS here
 * https://github.com/fkhadra/react-toastify/issues/309 */
@import "../node_modules/react-toastify/dist/ReactToastify.min.css";

body {
  background: #fbfbfb;
  font-family: "Source Sans Pro", sans-serif;
}

.elastiquill-content {
  margin-bottom: 30px;
}

.elastiquill-logo-container {
  display: flex;
  align-items: flex-end;
}

.elastiquill-logo-container:hover {
  text-decoration: none;
}

.elastiquill-logo {
  height: 2rem;
}

.elastiquill-admin-label {
  margin: 0 0 1px 18px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: right;
  text-transform: uppercase;
  color: #c31573;
}

.elastiquill-user-area {
  margin-left: auto;
}

.elastiquill-user-area img {
  width: 40px;
  height: 40px;
}

.elastiquill-user-area-toggle:focus {
  outline: #007bff auto 1px;
}

.elastiquill-user-area-label {
  display: inline-block;
  margin: 0 32px 0 16px;
  max-width: 180px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #354052;
  vertical-align: middle;
}

.elastiquill-user-area-logout {
  display: flex;
  align-items: center;
}

.elastiquill-user-area-logout i {
  font-size: 13px;
}

.elastiquill-navbar {
  background: white;
  height: 75px;
  border-bottom: 1px solid #dfe3e9;
}

.elastiquill-nav-link-container {
  background: white;
  border-bottom: 1px solid #dfe3e9;
}

.elastiquill-nav-submenu {
  width: 100%;
  padding: 10px 0px;
}

.elastiquill-nav-submenu a,
.elastiquill-nav-submenu .btn-link {
  color: black;
}

.elastiquill-nav-submenu-extra {
  display: inline-block;
  margin-left: 5px;
}

.elastiquill-nav-item {
  border-left: 1px solid #dfe3e9;
}

.elastiquill-nav-item:last-child {
  border-right: 1px solid #dfe3e9;
}

.elastiquill-nav-item a {
  display: block;
  text-decoration: none;
}

.elastiquill-nav-item a:hover .elastiquill-nav-link-icon path,
.elastiquill-nav-item a:focus .elastiquill-nav-link-icon path {
  fill: #d9156d;
}

.elastiquill-nav-item a:hover .elastiquill-nav-link-label,
.elastiquill-nav-item a:focus .elastiquill-nav-link-label {
  color: #d9156d;
}

.elastiquill-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

.elastiquill-nav-link.elastiquill-nav-link-active {
  position: relative;
}

.elastiquill-nav-link.elastiquill-nav-link-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ea1569;
}

.elastiquill-nav-link-icon path {
  fill: currentColor;
}
.elastiquill-nav-link-icon.elastiquill-nav-link-icon-active path {
  fill: #d9156d;
}

.elastiquill-nav-link-label {
  margin-left: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #354052;
}

.elastiquill-nav-link-label.elastiquill-nav-link-label-active {
  color: #ea1569;
}

.elastiquill-header {
  margin-top: 17px;
  margin-bottom: 17px;
  height: 28px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9c9c9c;
}

.elastiquill-header-2 {
  height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1819;
}

.elastiquill-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1a1819;
}

.elastiquill-button {
  height: 36px;
  border-radius: 6px;
  border: none;
  background-image: radial-gradient(circle at 0 0, #e32dab, #c31473);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.elastiquill-card {
  padding: 14px 17px;

  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.elastiquill-card h1 {
  height: 57px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1819;
}

.elastiquill-card h2 {
  margin-bottom: 15px;
  height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cbcbcb;
}

.elastiquill-tag {
  cursor: default;
  display: inline-block;
  margin-right: 12px;
  padding: 0px 7px;
  height: 24px;
  border-radius: 10px;
  background-color: rgba(218, 21, 109, 0.04);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ea3798;
}

.elastiquill-series {
  cursor: default;
  display: inline-block;
  margin-right: 12px;
  padding: 0px 7px;
  height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  background-color: #f2f2f2;
  color: rgb(126, 119, 119);
  font-weight: 500;
  border-radius: 13px;
}

.elastiquill-icon-button {
  width: 20px;
  height: 20px;
  margin: 0px 7.5px;
  cursor: pointer;
}

.elastiquill-icon-button:hover img,
.elastiquill-icon-button:hover > button > i {
  opacity: 0.8;
  color: #d9156d;
}

.elastiquill-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elastiquill-select {
  height: 36px;
  padding: 5px 13px;
  border-radius: 3px;
  border: solid 1px #d4d4d4;
  background-color: #f7f7f7;
}

.elastiquill-footer {
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #eee;
  font-size: 10pt;
  text-align: center;
  background-color: white;
  display: block;
  width: 100%;
}

blockquote {
  display: block;
  background: #fff;
  padding: 1.5rem 2rem 1.5rem 4.5rem;
  margin: 3rem 0 4rem 0;
  position: relative;

  /*Font*/
  /* font-family: Georgia, serif; */
  /* font-size: 16px; */
  line-height: 1.2;
  color: #666;
  text-align: justify;

  border: 0;
  border-left: 15px solid #ea3798;
  border-right: 2px solid #ea3798;

  /*Box Shadow */
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 6rem;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote span.by {
  margin: 1rem;
  display: block;
  color: #999;
  font-size: 16px;
}

blockquote::after {
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #ea3798;
}

blockquote a:hover {
  color: #666;
}

blockquote em {
  font-style: italic;
}

@media screen and (max-width: 991px) {
  .elastiquill-user-area-label {
    margin-right: 0;
  }

  .navbar-toggler {
    margin: 5px 0;
  }

  .elastiquill-nav-item {
    border-right: 1px solid #dfe3e9;
    border-top: 1px solid #dfe3e9;
  }

  .elastiquill-nav-link {
    justify-content: flex-start;
    padding: 10px 20px;
  }

  .elastiquill-nav-submenu-extra {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-left: 0px;
  }
}

.ReactModal__Overlay {
  z-index: 1000;
}

.react-tagsinput-input {
  width: 100% !important;
}

.mce-notification-inner {
  display: none !important;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.medium-insert-buttons {
  margin-left: 8px;
}

.medium-insert-codeblock {
  background-color: #f6f8fa;
  line-height: 1.45;
  border-radius: 3px;
  padding: 10px;
}

.medium-editor-element a {
  text-decoration: underline;
  color: blue;
}

.medium-editor-element p {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  color: rgba(0, 0, 0, 0.84);
}

pre {
  display: inline;
}

.content-editor pre {
  display: block;
}

.dropdown-item:hover {
  background: #eee;
}

.rv-discrete-color-legend-item__title {
  font-size: 16px;
}
