<article class="post">
  <h1 class="post-title">Hello there!</h1>
  <p>Welcome to your new blog!</p>
  <p>No content was found, so we assume you are running a fresh new blog.</p>
  <p>To add new blog posts, make sure the admin emails are set in your deployment and then head to
    <a href="{{adminRoute}}">{{adminRoute}}</a> and start writing!</p>
</article>
