<section class="block blog-search-widget">
    <form action="/blog/search" method="GET">
        <div style="display: flex">
            <div style="flex: 1" class="blog-search-widget-input-div">
                <input type="text" name='q' value="{{searchQuery}}" class="form-control" placeholder="Search query">
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Search">
            </div>
        </div>
    </form>
</section>
